<section id="services">
<!-- Page Content -->

<div class="content-section-a">

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Blog</h2>
                <div class="lead">
                    <a href="blog/index.html" target="_blank">Blog</a>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/services/blog.png" alt="">
            </div>
        </div>

    </div>


</div>

</section>
